<div class="container">

  <div class="row d-flex justify-content-center mt-5" *ngIf="errorMessage; else contenido">

    <div class="col-6 text-center">
      <img class="img-resultado rounded mx-auto d-block" src="../../../assets/no-hay-resultados.png" alt="sin resultados">
      <h3 class="mt-4">No se han encontrado resultados.</h3>
      <h5 class="mt-4">Mostrar todos los personajes </h5>
      <button type="button" class="btn btn-outline-warning btn-lg" (click)="getAllCharacters(1)">Volver a cargar</button>
    </div>



  </div>

  <ng-template #contenido>
    <app-card
      [_dataCharacter]="characters | paginate: { itemsPerPage: 20, currentPage: p, totalItems: totalPages }">
    </app-card>

    <div  class="rounded-2 border border-primary bg-primary">
      <div class="row d-flex justify-content-center">
        <div class="col-auto mt-3">
          <pagination-controls [responsive]="true"  previousLabel="Átras" nextLabel="Siguiente" [maxSize]="maxSize"
            (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
      </div>
    </div>

  </ng-template>
</div>
